.title--logo{
  height: 10vh !important;
  width: auto;
  margin: auto;
  display: block;
}

.background--paw{
  opacity: 50%;
  height: 70vh !important;
  width: auto;
  margin: auto;
  display: block;
}

ion-button {
  --background: #394867;
}